/* userform.css */
.appBar {
    position: relative;
    background-color: skyblue;
  }
  
  .layout {
    width: auto;
    margin-left: 24px;
    margin-right: 24px;
  }
  
  .cardGrid {
    padding: 64px 0;
  }
  
  .card {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .cardMedia {
    padding-top: 56.25%; /* 16:9 */
  }
  
  .cardContent {
    flex-grow: 1;
  }
  
  .footer {
    background-color: #fafafa;
    padding: 48px 0;
  }
  