.button-contained-secondary {
  margin-left: 8px;
  background: linear-gradient(45deg, #333 30%, #555 90%);
  border: 0px;
  color: white;
  height: 36px;
  padding: 0 20px;
  box-shadow: 0 3px 5px 2px rgba(50, 50, 50, .3);
}

.dialog-actions {
  display: flex;
  align-items: center;
  padding: 16px; 
}

.text-field {
  flex: 2; 
  margin-right: 8px;
}

.dialog-title {
  background: linear-gradient(45deg, #333 30%, #555 90%);
  color: #fff;
  padding: 16px;
  border-radius: 15px 15px 0 0;
}

.dialog-paper {
  border-radius: 15px;
  width: 500px;
  max-width: 500px;
  height: 700px;
  max-height: 700px;
}
