.wrapper {
    width: 460px;
    margin: 15% auto;
    padding: 30px 40px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    color: #000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  }
  
  .login-title {
    padding: 15px;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
  }
  
  .wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    color: #522b07;
  }
  
  .input-box input{
    width: 100%;
    height: 100%;
    background: #FDF9DC;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #522b07;
    padding: 20px 45px 20px 20px;
  }
  
  .input-box input::placeholder{
    color: #522b07;
  }
  
  .input-box .icon{
    position: absolute;
    right: 20px;
    top: 40%;
    transform: translate(-50%);
    font-size: 16px;
  }
  
  .wrapper button{
    width: 100%;
    height: 45px;
    background: #faf06b;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
  }
  
  .wrapper .register-link{
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
    color: #522b07;
  }
  
  .register-link .font{
    color: #522b07;
    text-decoration: none;
    font-weight: 600;
    margin-left: 5px;
  }
  
  .register-link .font:hover{
    text-decoration: underline;
  }
  
  
  
  /* 토글 버튼 */
  .form-check {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    font-size: 14px;
  }
  
  .check-label {
    user-select: none;
    cursor: pointer;
    margin-bottom: 0 !important;
  }
  
  .check-label2 {
    cursor: pointer;
    margin-bottom: 0 !important;
  }
  
  /* 토글 버튼 스타일 */
  .toggle-btn {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 18px;
    margin-bottom: 0 !important;
  }
  
  /* 체크박스 숨기기 */
  .toggle-btn input {
    display: none;
  }
  
  /* 토글 버튼 배경 */
  .toggle-btn .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
  }
  
  /* 토글 버튼 상태에 따른 배경색 변경 */
  .toggle-btn input:checked + .slider {
    background-color: #522b07;
  }
  
  /* 토글 버튼 둥근 원형 슬라이더 */
  .toggle-btn .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  /* 체크된 상태에서의 슬라이더 위치 변경 */
  .toggle-btn input:checked + .slider:before {
    transform: translateX(10px);
  }